<h1>Guest::Guests#edit</h1>
<p>Find me in app/views/guest/guests/edit.html.erb</p>
<%= form_for(current_guest) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :email %>
  <%= f.text_field :email %>
  <%= f.submit %>
<% end %>