<h1>イベント編集ページ</h1>
<%= render "layouts/error_messages", error: @event %>
<%#= render "layouts/error_messages", error: genres %>
<%= form_for (@event) do |f| %>
  <h3><%= f.label :"ジャンル" %><br>
  <% @genres.each do |genre| %>
  <%= f.radio_button :genre_id, genre.id %>
  <%= image_tag genre.icon_id.to_s, size:8*8 %>
  <% end %><br><br><br>
  <%= f.label :"タイトル" %>
  <%= f.text_field :title %><br><br>
  <%= f.label :"開始時間" %>
  <%= f.datetime_select :start_time %><br>
  <%= f.label :"終了時間" %>
  <%= f.datetime_select :finish_time %><br><br>
  <%= f.label :"コメント" %>
  <%= f.text_area :comment, size: "80x5" %></h3><br><br>
  <%= f.submit "イベントを更新してメンバー編集ページへ", class: "btn btn-primary" %>
<% end %>



