<%= form_tag({ controller: :images, action: :destroy_all }, method: :delete) do %>
    <% @event_images.each do |image| %>
    <div>
    <%= check_box_tag "deletes[#{ image.id }]", image.id %>
    <%= image_tag image.refile_id.to_s, size:17*17 %>
    <% end %>
    </div>
    <%= submit_tag "削除", class: "btn btn-danger","data-confirm" => "選択した画像を削除しますか？" %>
  <% end %>
<%= form_for (@) %>