<h1>イベント画像編集ページ</h1>
<%= form_tag({ controller: :images, action: :destroy_all }, method: :delete) do %>
    <% @event_images.each do |image| %>
    <div class = "checkbox">
    <%= check_box_tag "deletes[#{ image.id }]", image.id %>
    <%= image_tag image.refile_id.to_s, size:17*17 %>
    </div>
    <% end %>
    <%= submit_tag "削除", class: "btn btn-danger","data-confirm" => "選択した画像を削除しますか？" %>
  <% end %>

<%= form_for (@new_event_images), url:event_images_path(@event) do |f| %>
  <%= f.label :"追加画像選択画面" %>
  <%= f.file_field :refile_id, {multiple: true} %>
  <%= f.submit "画像の更新", class: "btn btn-primary" %>
<% end %>