<div class = "col-md-offset-1 col-md-10 col-md-offset-1">
<h1>Guest::Searches#index</h1>
<p>Find me in app/views/guest/searches/index.html.erb</p>
<h1><%= params[:q][:title_or_comment_cont] + "の検索結果" %></h1>
 <% @events.each do |event| %>
     <div>
        <%= link_to event do %>
          <%- if Genre.find_by(id: event.genre_id).present? %>
            <%= image_tag event.genre.icon_id.to_s, size:6*6 %>
          <% else %>
            <%= "なし"%>
          <% end %>
        <% end %>
        <%= link_to event.title, event %>
        開始時間 <%= event.start_time.to_s(:published_on) %>
     </div>
 <% end %> 
</div>