<h1>ジャンル作成ページ</h1>
  <%= form_for(@new_genre, url: admin_genres_path ) do |f| %>
        <%= f.label :name, :名前 %>
        <%= f.text_field :name %><br>
        <%= f.label :icon_id, :画像選択 %>
        <%= f.file_field :icon_id %><br>
    <%= f.submit "ジャンルを登録する", class: "btn btn-primary" %>
  <% end %>