<h1>Guest::Members#show</h1>
<p>Find me in app/views/guest/members/show.html.erb</p>
<p><%= notice %></p>
<%= @member.name + "が参加しているイベント一覧" %><br>
<%= form_for(@member) do |f| %>
    <%= f.label :名前の更新欄 %>
    <%= f.text_field :name %>
    <%= f.submit %>
  <% end %>

<%= render "guest/events/events", events: @events %>


