<nav class="navbar navbar-static-top bg-danger">
  <div class="container-fluid">
    <nav class="col-md-2 col-lg-2">
      <%= image_tag 'logo 3.png',size: 9*9 %>
    </nav>
    <div class="col-md-4">
      <p class = "search"><%= search_form_for(@member_search, url:admin_searches_member_index_path) do |f| %>
      <%= f.text_field :name_cont, placeholder:"メンバーを検索する場合はこちら", size:5*10 %>
      <%= f.submit '検索' %>
      <% end %></p>
      <p class = "search"><%= search_form_for(@event_search, url:admin_searches_event_index_path) do |f| %>
      <%= f.text_field :title_or_comment_cont, placeholder:"イベントのタイトル、コメントを検索する場合はこちら", size:5*10 %>
      <%= f.submit '検索' %>
      <% end %></p>
    </div>
    <nav class = "col-md-6">
      <ul class="nav navbar-nav navbar-right">
        <!--if文でサインインとアウト時の表示を変更-->
        <% if admin_signed_in? %>
        <li><%= link_to 'トップページ', admin_guests_path %></li>
        <li><%= link_to 'ジャンル一覧', admin_genres_path %></li>
        <li><%= link_to 'ログアウト', destroy_guest_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'sign up', new_guest_registration_path %></li>
        <li><%= link_to 'login', new_guest_session_path %></li>
        <% end %>
      </ul>
    </nav>

  </div>
</nav>