<nav class="navbar navbar navbar-static-top" style="background-color: #F8E8A2;">
  <div class="container-fluid">

    <nav class="col-md-2 col-lg-2">
    <%= image_tag 'logo 3.png',size: 9*9 %>
    </nav>
     <div class="col-md-4">
          <p class = "search"><%= search_form_for(@search, url:searches_index_path) do |f| %>
            <%= f.text_field :title_or_comment_cont, placeholder:"イベントのタイトル、コメントを入力してください", size:5*10 %>
            <%= f.submit '検索' %>
          <% end %></p>
    </div>
    <nav class="col-md-6">
      <ul class="nav navbar-nav navbar-right">

        <!--if文でサインインとアウト時の表示を変更-->
        <% if guest_signed_in? %>
          <li class = "guest_name">
            <% if current_guest.name.nil? %>
              <%= "ようこそ" + current_guest.email + "様" %>
            <% else %>
              <%= "ようこそ" + current_guest.name + "様" %>
            <% end %>
          </li>
        <li><%= link_to 'My Calender', events_path %></li>
        <li><%= link_to 'My Page', guest_path(current_guest) %></li>
        <li><%= link_to 'Log Out', destroy_guest_session_path, method: :delete %></li>
        <% else %>
        <li><%= link_to 'Home', root_path %></li>
        <li><%= link_to 'sign up', new_guest_registration_path %></li>
        <li><%= link_to 'login', new_guest_session_path %></li>
        <% end %>
      </ul>
    </nav>

  </div>
</nav>