<!DOCTYPE html>
<html>
  <head>
    <title>Almemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_guest %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Almemo</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if guest_signed_in? %>
            <li><%= link_to 'My Calender', events_path %></li>
            <li><%= link_to 'My Page', guests_path %></li>
            <li><%= link_to 'Log Out', destroy_guest_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'sign up', new_guest_registration_path %></li>
            <li><%= link_to 'login', new_guest_session_path %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <% else current_admin %>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">

        <nav class="nav navbar-nav navbar-left">
          <span>Almemo</span>
        </nav>
        <nav>
          <ul class="nav navbar-nav navbar-right">
            <!--if文でサインインとアウト時の表示を変更-->
            <% if admin_signed_in? %>
            <li><%= link_to 'Log Out', destroy_admin_session_path, method: :delete %></li>
            <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'sign up', new_guest_registration_path %></li>
            <li><%= link_to 'login', new_guest_session_path %></li>
            <% end %>
          </ul>
        </nav>

      </div>
    </header>
    <% end %>

    <div class = "container">
      <div class = "row">
      <%= yield %>
      </div>
    </div>
  </body>
</html>
