<!DOCTYPE html>
<html>
  <head>
    <title>Almemo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <% if current_admin %>
      <%= render "layouts/admin" %>
    <% else current_guest %>
      <%= render "layouts/guest" %>
    <% end %>
    <div class = "container-fluid">
      <div class = "row">
        <div class = "col-md-offset-1 col-md-10 col-md-offset-1">
        <p><%= notice %></p>
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
